h1 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
}

li {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    text-align: left;
    color: rgb(0, 0, 0);
    
}
